html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    min-height: 800px;
    float: left;
    width: 80%;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: center;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.bg-color-contact {
    background-color: #ffffff;
}

nav ul li a {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
}

#navigation {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none;
}

#navigation li {
    float: right;
    margin: 25px;
    overflow: visible;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 20px;
    color: green;
    padding: 2px;
    margin: 2px;
}

#select-county {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 15%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    background-color: #f5f5f5;
}

#infowindow-content {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#select-establishment {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 15%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    background-color: #f5f5f5;
}

#pac-input {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 30%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    background-color: #f5f5f5;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.form-row {
    margin: 0 100px 0 100px;
    padding: 100px;
    background-color: rgb(157, 218, 129);
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#listing {
    min-height: 800px;
    float: left;
    width: 20%;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
    text-align: center;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}