html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li a {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
}

#navigation {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none;
}

#navigation li {
    float: right;
    margin: 25px;
    overflow: visible;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    font-size: 150%;
}

.title {
    font-size: 20px;
    color: green;
    padding: 2px;
    margin: 2px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.form-row {
    margin: 0 100px 0 100px;
    padding: 100px;
    background-color: rgb(224, 226, 223);
    border-color: black;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-width: 1px;
}

#map {
    min-height: 800px;
    float: left;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#listing {
    height: 800px;
    float: left;
    width: 10%;
    overflow: scroll;
    position: relative;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    border-color: black;
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-width: 1px;
}

#listing-info #resultsTable {
    border-collapse: collapse;
    width: 100%;
}

legend {
    padding: 0.2em 0.5em;
    color: green;
    font-size: 90%;
    text-align: center;
    border-color: black;
    border-bottom: solid;
    border-width: 1px;
}

.uppercase {
    text-transform: uppercase;
}

.bg-color-contact {
    background-color: #ffffff;
}

#select-county {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 15%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    /* background-color: #f5f5f5; */
}

#select-establishment {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 15%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    background-color: #f5f5f5;
}

#pac-input {
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    font-size: 25px;
    border: 3px solid grey;
    border-radius: 8px;
    height: 70px;
    width: 30%;
    padding: 3px 23px 3px 30px;
    outline: 5;
    background-color: #f5f5f5;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#infowindow-content {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (max-width: 1393px) {
    .form-row {
        width: 100%;
        margin: 0px;
        margin-top: 25px;
        padding: 0px;
        background-color: rgb(224, 226, 223);
        border-color: black;
        border-left: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #pac-input {
        width: 30%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        margin-left: -20px;
        margin-top: 30px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-county {
        width: 30%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-establishment {
        width: 30%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    .fas {
        visibility: hidden;
    }
    #map {
        min-height: 700px;
        float: left;
        width: 75%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    #listing {
        height: 700px;
        float: left;
        width: 25%;
        overflow: scroll;
        position: relative;
        cursor: pointer;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: center;
        border-color: black;
        border-bottom: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #listing-info #resultsTable {
        border-collapse: collapse;
        width: 100%;
    }
    #resultsTable {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 943px) {
    form {
        width: 100%;
        margin-top: 22px;
    }
    .form-row {
        width: 100%;
        margin: 0px;
        margin-top: 25px;
        padding: 0px;
        background-color: rgb(224, 226, 223);
        border-color: black;
        border-left: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #pac-input {
        width: 80%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-top: 10px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-county {
        width: 30%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 65px;
        margin-top: 0px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-establishment {
        width: 30%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-top: 0px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    .fas {
        visibility: hidden;
    }
    #map {
        min-height: 700px;
        float: left;
        width: 75%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    #listing {
        height: 700px;
        float: left;
        width: 25%;
        overflow: scroll;
        position: relative;
        cursor: pointer;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: center;
        border-color: black;
        border-bottom: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #listing-info #resultsTable {
        border-collapse: collapse;
        width: 100%;
    }
    #resultsTable {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
    form {
        width: 100%;
        margin-top: 22px;
    }
    .form-row {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: rgb(224, 226, 223);
        border-color: black;
        border-left: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #pac-input {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        /* margin-top: -20px; */
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-county {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-top: 30px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-establishment {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 40px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    .fas {
        visibility: hidden;
    }
    #description {
        visibility: hidden;
    }
    #map {
        min-height: 700px;
        float: left;
        width: 70%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    #listing {
        height: 700px;
        float: left;
        width: 30%;
        overflow: scroll;
        position: relative;
        cursor: pointer;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: center;
        border-color: black;
        border-bottom: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #listing-info #resultsTable {
        border-collapse: collapse;
        width: 100%;
    }
    #resultsTable {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-toggler {
        float: right;
    }
    .nav-link {
        font-size: 150%;
    }
}

@media screen and (max-width: 576px) {
    form {
        width: 100%;
        margin-left: 5px;
        margin-top: 40px;
    }
    .form-row {
        width: 100%;
        margin-left: 20px;
        margin-top: -50px;
        padding: 0px;
        background-color: rgb(224, 226, 223);
        border-color: black;
        border-left: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #pac-input {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 20px;
        margin-top: -50px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    #select-county {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 20px;
        margin-top: 0px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        background-color: #f5f5f5;
    }
    #select-establishment {
        width: 90%;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 20px;
        margin-top: 0px;
        height: 50px;
        text-overflow: ellipsis;
        border: 3px solid green;
        border-radius: 8px;
        padding: 3px 23px 3px 30px;
        outline: 5;
        background-color: #f5f5f5;
    }
    .fas {
        visibility: hidden;
    }
    #description {
        visibility: hidden;
    }
    #map {
        min-height: 400px;
        float: left;
        width: 100%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    #listing {
        height: 400px;
        float: left;
        width: 100%;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
        text-align: center;
        border-color: black;
        border-bottom: solid;
        border-right: solid;
        border-top: solid;
        border-width: 1px;
    }
    #listing-info #resultsTable {
        border-collapse: collapse;
        width: 100%;
    }
    #resultsTable {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-toggler {
        float: right;
    }
    .nav-link {
        font-size: 130%;
    }
}